.left-menu{
    border-right: 1px solid #ccc;
    padding-left: 0px;
}

.menu-active{
    border-bottom: 1px solid red;
}

.left-menu li{
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 5px;
    color: #000000;
}

.left-menu li a{
    color: #000000;
    text-decoration: none;
}

.left-menu li a:hover{
    text-decoration: none;
}

.sub-menu{
    margin-left: -25px;
    font-size: 12px;
    color: #8f8f8f !important;
    padding: 5px !important;;
}

.sub-menu a{
    color: #8f8f8f !important;
    text-decoration: none;
}

p{
    font-size: 20px;
}